<!DOCTYPE html>
<html>

<head>

    <title>Signup</title>

    <link rel="stylesheet" href="/css/auth.css">

</head>

<body>

    <div class="container">

        <h2>User Signup</h2>

        <% if(error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>

        <% if(message) { %>
            <p style="color: green;"><%= message %></p>
        <% } %>

        <form action="/api/user/signup" method="POST" enctype="multipart/form-data">

            <input type="text" name="name" placeholder="Full Name" required>

            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="password" placeholder="Password" required>

            <input type="text" name="phone" placeholder="Phone Number" required>

            <!-- ROLE -->
            <div class="role-box">
            
                <span>Select Role : </span>

            <label class="radio-group">
                <input type="radio" name="roleId" value="<%= studentRoleId %>" onclick="selectRole('student')" required>
                Student
            </label>

            <label class="radio-group">
                <input type="radio" name="roleId" value="<%= tutorRoleId %>" onclick="selectRole('tutor')" required>
                Tutor
            </label>
        </div>

            <!-- STUDENT FIELD -->

            <div id="studentFields" class="hidden">

                <label>Interest Of Field</label>

                <input type="text" name="interestOfField" placeholder="Example: Web Development">

            </div>


            <!-- TUTOR FIELDS -->

            <div id="tutorFields" class="hidden">

                <label>Bio</label>

                <textarea name="bio"></textarea>

                <label>Experience</label>

                <input type="text" name="experience" placeholder="years of experience">

                <label>Qualification</label>

                <input type="text" name="qualification">

                <label>Degree Certificate</label>

                <input type="file" name="degreeCertificate">

            </div>


            <button type="submit">Signup</button>

            <!-- <label for="login-link">Already have an account? <a href="/login">Login</a> -->
            <p class="link"> 
                Already have an account? <a href="/login">Login</a> 
            </p>

        </form>

    </div>


    <script>

        function selectRole(type) {

            const student = document.getElementById("studentFields")
            const tutor = document.getElementById("tutorFields")

            console.log('student : ', student);
            

            if (type === "student") {

                student.style.display = "block"
                tutor.style.display = "none"

            }

            if (type === "tutor") {

                student.style.display = "none"
                tutor.style.display = "block"

            }
        }
    </script>

</body>

</html>